<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">    
			<div class="col-md-3 text-center">
				<%= image_tag candidate_participation.candidate.photo.url(:thumb), class: "img-circle" %>
			</div>
			<div class="col-md-9">
				<h2 class="featurette-heading"><%= candidate_participation.candidate.name_formatted %>
					<small class="text-muted"><%= candidate_participation.candidate.address %></small>
				</h2>
				<p>Rok narození: <%= candidate_participation.candidate.birth_year %></p>
				<div class="show-more">
					<button class="btn btn-default">Více</button>
				</div>
				<div class="content">
					<h3>Představení kandidáta</h3>
					<p><%= candidate_participation.description %></p>
					<% if !candidate_participation.visions.blank? %>
						<h3>Vize rozvoje asociace a konkrétní návrhy</h3>
						<p><%= candidate_participation.visions %></p>
					<% end %>
				</div>
				<br>
				<%= check_box_tag("candidate_participation_id", candidate_participation.id, checked = false) %>
			</div>
		</div>
	</div>
</div>
	