<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title><%= render partial: "layouts/application/title" %></title>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<% if @election %>
			<div class="row">    
				<div class="col-md-10">
					<div class="page-header">
						<h1>
							Česká asociace paraplegiků - CZEPA<br/>
							<small class="text-muted"><%= @election.name %></small>
						</h1>
					</div>
				</div>
				<div class="col-md-2 text-right hide-md">
					<%= link_to image_tag(image_url("logo.png")), main_app.root_path %>
				</div>
			</div>
			<%= render partial: "layouts/application/flash" %>
			<%= yield %>
		<% else %>
			<%= render partial: "layouts/application/flash" %>
			<%= yield %>
		<% end %>
	</div>	
</body>
</html>
